# Prerequisites
*.d
*.bat
*.dll
*.cap
*.ini

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Additional Files/Folders
/.vs
/.vscode
/.idea
/bin
/bin-int
/.cache
/OxylusEditor/SandboxProject
/OxylusEditor/logs
*.ccls
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.DotSettings.user
build
Build
*.sln
*.sln.DotSettings.user
.editorconfig
/logs
.clangd
renderer_config.toml

# CMake
/build/.cmake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles
compile_commands.json
.run

.DS_Store
Oxylus.xcodeproj

# Zed
.zed

# vkconfig
vk_layer_settings.txt

.claude
